@model List<MvcSinemaOdev.ViewModel.FilmViewModel>

<meta charset="utf-8">
<title>jQuery UI Dialog - Default functionality</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">

<link href="~/Content/bootstrap.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9">
        <table class=" table table-inverse">
            <thead>
                <tr>
                    <td>
                        Film Adı
                    </td>
                    <td>
                       3 boyutlumu
                    </td>
                    <td>
                        Film Tür ID
                    </td>
                    <td>
                        Film Süre
                    </td>
                    <td>
                        Film Yerlimi
                    </td>
                     
                    <td>
                        Güncelle
                    </td>
                    <td>Sil</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var f in Model)
                {
                    <tr>
                        <td>
                            @f.FilmAdName
                        </td>
                        <td>
                            @f.FilmUcBoyutlumuCheck
                        </td>
                        <td>
                            @f.FilmTurIDNumber
                        </td>
                        <td>
                            @f.FilmSureTime
                        </td>
                        <td>
                            @f.FilmYerlimiCheck
                        </td>
                        <td>
                            <input type="button" style="background-color:#f64747" value="Güncelle" data-id="@f.FilmIDNumber" class="btn-update" />
                        </td>
                        <td>
                            <input type="button" style="background-color:#ff0000" value="Sil" data-id="@f.FilmIDNumber" class="btn-delete" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-2"></div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".btn-update").click(function () {
            $(".bootstrapmodal").modal("show");
            var id = $(this).attr("data-id");

            $.ajax({
                url: '/Film/FilmGetir',
                type: 'POST',
                dataType: 'json',
                data: { "id": id },
                success: function (data) {
                    $("#FilmIDNumber").val(data.FilmIDNumber); //val içindeki değerler textbox içindeki gelenlerdir.ÖNEMLİDİR
                    $("#FilmAdName").val(data.FilmAdName);
                    $("#FilmUcBoyutlumuCheck").val(data.FilmUcBoyutlumuCheck);
                    $("#FilmSureTime").val(data.FilmSureTime);
                    $("#FilmYerlimiCheck").val(data.FilmYerlimiCheck);
                    $("#FilmTurIDNumber").val(data.FilmTurIDNumber);

                
                }
            });
        });

    });
</script>

<script type="text/javascript">
    $(document).on("click", ".btn-delete", function () {
        var confirmDelete = confirm("silme işlemini onaylıyormusun ?");
        if (confirmDelete) {
            var id = $(this).attr("data-id");
            var deleteTr = $(this).closest("tr");
            $.ajax({
                url: '/Film/Delete/' + id,
                type: 'POST',
                success: function (result) {
                    if (result == 1) {
                        deleteTr.remove();
                    }
                    else {
                        alert("işlem sırasında hata oluştu bey  efendi");
                    }
                }
            });
        }
    });
</script>
