@model MvcSinemaOdev.ViewModel.BiletViewModel
@{
    ViewBag.Title = "Index";
}


<link href="~/Content/bootstrap.css" rel="stylesheet" />


<div class="col-md-1">
    <input type="button" value="Yeni Bilet Ekle" id="btn-create" class="btn-primary" />
</div>
<div class="col-md-6">



    <div id="user-content">
        @Html.Action("BiletList", "Bilet")
    </div>
    <div id="dialog-user" title="Bilet  İşlemleri" class="media-list">
        @using (Ajax.BeginForm("Create", "Bilet", FormMethod.Post, new AjaxOptions { OnSuccess = "Create" }, new { id = "frm-create" }))
        {
            @Html.HiddenFor(m => m.BiletIDNumber)

            <div>
                Koltuk No

                @Html.TextBoxFor(m => m.BiletKoltukNumaraNumber, new { @class = "form-control" })
            </div>
           
            <div>
                Film  Seç
                @Html.DropDownList("FilmIDNumber", "----Film  Seçiniz-----")

            </div>
            <div>
                Satış  Seç
                @Html.DropDownList("SatisIDNumber", "----Fiyat Seç-----")

            </div>
            <div>
                <input type="submit" value="Kaydet" class="btn success" />
            </div>
        }
    </div>

</div>
<div class="col-md-5">

</div>

<script type="text/javascript">
    $(document).ready(function () {   //ekleme işlemi için
        $("#btn-create").click(function () {
            $("#dialog-user").dialog("open");
            $("#frm-create")[0].reset();  //ekledikten sonra formu temizleyelim
            $("#BiletIDNumber").val("0");
        });

        $("#dialog-user").dialog({

            autoOpen: false
        });
    });
    function Create(result) {   //ekleme sonucunda tekrardann listeleme yap
        if (result == "1") {
            window.location.href = "@Url.Action("Index","Bilet")";

        }
    }
</script>

